<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Muzaffar's Project</title>
    <link rel="stylesheet" href="{%static 'css/base.css'%}">
</head>
<body>
<header> <h3><a href="{%url 'home' %}"><font size="3"
          face="verdana"
                                            color="green">Muzaffar Blog </font>  </a></h3> </header>
<hr class="solid">
</body>
<div> {%block content%}
      {%endblock%}

<footer>
    <h2><a href="{% url 'post_new'%}"><font size="3"
          face="verdana"
                                            color="green">Yangi post yaratish </font></a></h2>
</footer>
</div>
</html>